{% extends "base.html" %}

<!-- Page Title Begins -->
{% block title %}

About

{% endblock %}
<!-- Page Title Ends -->

<!-- Banner Image Content Begins -->
{% block img_content %}
   
    <div class="img_cont bg_img2">
    	<h1 class="banner">About Westhill Bike Club</h1>
    </div>
    
{% endblock %}
<!-- Banner Image Content Ends -->

<!-- Main Body Content Begins -->
{% block body_content %}
 
	<div class="container-fluid">
    	<p>The Westhill Bike Club was established in 2015 with a focus of getting like-minded people into cycling with a group. We do not organise any racing events, although our members are free to participate in competitive events if they choose. Our goal is to get people who are riding on their own or not riding much, to join and achieve some personal challenges. Our key objectives are to have:</p>
	<li>A friendly, social cycling club for the Westhill and wider area.</li>
	<li>Predominantly focussed on recreational cycling</li>
	<li>Members will range from beginners to multi-day sportive riders</li>
	<li>Midweek, daytime and weekend rides departing from a set location, e.g. Westhill Community Church</li>
	<li>Mixture of mountain bike and road riding will be available</li>
	<li>Summer evenings usually start at 6:30pm on a Tuesday with 60-90 minutes road riding</li>
	<li>Saturday or Sunday usually 09:00 start, 2-3hr rides, occasionally longer – with short cuts if needed</li>
	<li>As numbers build, we may have 2-3 differing groups on each ride to suit pace etc.</li>
	<li>General rules of the road and common sense cycling will apply, with regards to safety, etc.</li>
	<li>No one gets left behind, no one shows off and everyone has a great ride together</li>
	<li>On longer rides we usually plan a café stop – we like cake!</li>
	
	</br>

	<p>Membership also entitles you to:</p>
		<li>Cycle with fun and enthusiastic people</li>
		<li>Buy club kit at a discounted rate</li>
		<li>Attend our summer BBQ and attend our Christmas party</li>
		<li>Good rates for bike repairs and maintenance from local qualified bike mechanics</li>
		
	</br>
	
	<p>Our club also organises The Westhill Bike Ride, which takes place each year on the Sunday at the end of the Westhill Gala. Everybody is welcome young and old, families, groups and individuals. All you need is a bike and a bit of determination to complete the 13-mile circuit.<p>

	<p>As part of the Westhill Gala, this is a fun event, although participants are expected to raise sponsorship or make a donation which will go to local and national and charities and other good causes.</p>
  	</div>

{% endblock %}}
<!-- Main Body Content Ends -->