{% extends "base.html" %}

<!-- Page Title Begins -->
{% block title %}

Annual Bike Ride

{% endblock %}
<!-- Page Title Ends -->

<!-- Banner Image Content Begins -->
{% block img_content %}
   
    <div class="img_cont bg_img2">
    	<h1 class="banner">Annual Westhill Bike Ride</h1>
    </div>
    
{% endblock %}
<!-- Banner Image Content Ends -->

<!-- Main Body Content Begins -->
{% block body_content %}
 
	<div class="container-fluid">
		<h3>What is it?</h3>
			<p>The Westhill Bike Ride is a family event run over a 13 mile circular route which starts and finishes at the Ashdale Hall car park is on public roads and , with a couple of short hills, will be no problem for anyone with a reasonable level of fitness.</p>

			<p>The route is fully signposted and marshals will be posted at all major junctions. There will be feed station at around half way with free water and snacks to make sure you have enough energy to complete the course.</p>

			<p>The main purpose of this event is to raise funds for local groups and you can obtain a sponsor form or simply make a donation to enter.</p>
			
		<h3>Who is it for?</h3>
			<p>The Westhill Bike Ride is open to everyone; young and old, families, groups and individuals. All you need is a bike and a bit of determination to complete the 13 mile circuit.</p>

			<p>Whether you’re an enthusiastic amateur looking for a cycling challenge, or an experienced cyclist looking to participate in an organised event, the Westhill Bike Ride will offer a test of your stamina over a picturesque route around the Aberdeenshire countryside.</p>

			<p>This is a fun event, although participants are required to make a minimum donation which will go to local and national and charities and other good causes.</p>
			
		<h3>What does it cost?</h3>
			<p>The Westhill Bike Ride is run to raise funds for local good causes and entry is based on the minimum donations shown below.</p>
				<li>£10 for Individual entry</li>
				<li>£5 for under 16s (under 16’s must have written consent from, or be accompanied by, a parent/guardian)</li>
				<li>£20 for family entry</li>
  	</div>

{% endblock %}}
<!-- Main Body Content Ends -->