{% extends "base.html" %}

<!-- Page Title Begins -->
{% block title %}

Home

{% endblock %}
<!-- Page Title Ends -->

<!-- Banner Image Content Begins -->
{% block img_content %}
	<div class="img_cont bg_img">
    	<h1 class="banner">Welcome to Westhill Bike Club</h1>
    </div>
{% endblock %}}
<!-- Banner Image Content Ends -->

<!-- Main Body Content Begins -->
{% block body_content %}
 
	<div id="main" class="container-fluid">
    	<p>The Westhill Bike Club was established in 2015 with a focus of getting like-minded people into cycling with a group. We do not organise any racing events, although our members are free to participate in competitive events if they choose. Our goal is to get people who are riding on their own or not riding much, to join and achieve some personal challenges.</p>
    	<p>Feel free to look around to find out more about the club and how to join as a member.</p>
  	</div>

{% endblock %}}
<!-- Main Body Content Ends -->

