{% extends "base.html" %}

<!-- Page Title Begins -->
{% block title %}

Membership

{% endblock %}
<!-- Page Title Ends -->

<!-- Banner Image Content Begins -->
{% block img_content %}
   
    <div class="img_cont bg_img1">
    	<h1 class="banner">About Westhill Bike Club</h1>
    </div>
    
{% endblock %}
<!-- Banner Image Content Ends -->

<!-- Main Body Content Begins -->
{% block body_content %}
 
	<div class="container-fluid">
    	<p>Membership also entitles you to:</p>
			<li>Cycle with fun and enthusiastic people
			<li>Buy club kit at a discounted rate</li>
			<li>Attend our summer BBQ and our Christmas party</li>
			<li>Good rates for bike repairs and maintenance from local qualified bike mechanics</li>
  	</div>

{% endblock %}}
<!-- Main Body Content Ends -->