{% extends "base.html" %}

<!-- Page Title Begins -->
{% block title %}

Membership

{% endblock %}
<!-- Page Title Ends -->

<!-- Banner Image Content Begins -->
{% block img_content %}

    <div class="img_cont bg_img1">
    	<h1 class="banner">Joining Westhill Bike Club</h1>
    </div>

{% endblock %}
<!-- Banner Image Content Ends -->

<!-- Main Body Content Begins -->
{% block body_content %}

	<div class="container-fluid">

    <div class="row featurette">
      <div class="col-md-10">
        <h2 class="featurette-heading">Membership</h2>
        <p class="lead">
          Not sure if you want to join? Come along and try 2 rides free of charge before you commit to joining. If you choose to join its only £20 for the year. You can keep up to date with the upcoming rides on the <a href="/events/"> events page.</a>
        </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-10">
        <h2 class="featurette-heading">What do you get with your membership?</h2>
        <ul class="lead">
          <li>Cycling with fun and enthusiastic people
  			  <li>Club kit at a discounted rate</li>
  			  <li>Attend our summer BBQ and Christmas party</li>
  			  <li>Good rates for bike repairs and maintenance from local qualified bike mechanics</li>
        </ul>
      </div>
    </div>

  </div>

{% endblock %}}
<!-- Main Body Content Ends -->
