{% extends "base.html" %}

<!-- Page Title Begins -->
{% block title %}

Westhill Bike Ride

{% endblock %}
<!-- Page Title Ends -->

<!-- Banner Image Content Begins -->
{% block img_content %}

    <div class="img_cont bg_img5">
    	<h1 class="banner">The Westhill Bike Ride</h1>
    </div>

{% endblock %}
<!-- Banner Image Content Ends -->

<!-- Main Body Content Begins -->
{% block body_content %}

	<div class="container-fluid">

    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">What is 'The Westhill Bike Ride'?</h2>
          <p class="lead">
            The Westhill Bike Ride is a family event run over a 13 mile circular route which starts and finishes at the Ashdale Hall car park is on public roads and, with a couple of short hills, will be no problem for anyone with a reasonable level of fitness.
            <br></br>
            The route is fully signposted and marshals will be posted at all major junctions. There will be feed station at around half way with free water and snacks to make sure you have enough energy to complete the course.
          </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">Who is the ride for?</h2>
          <p class="lead">
            The Westhill Bike Ride is open to everyone; young and old, families, groups and individuals. All you need is a bike and a bit of determination to complete the 13 mile circuit.
            <br></br>
            Whether you’re an enthusiastic amateur looking for a cycling challenge, or an experienced cyclist looking to participate in an organised event, the Westhill Bike Ride will offer a test of your stamina over a picturesque route around the Aberdeenshire countryside.
            <br></br>
            This is a fun event, although participants are required to make a minimum donation which will go to local and national and charities and other good causes.
          </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">Does it cost to take part?</h2>
          <p class="lead">
            The Westhill Bike Ride is run to raise funds for local good causes and entry is based on the minimum donations shown below:
            <ul class="lead">
              <li>£10 for Individual entry</li>
      				<li>£5 for under 16s (under 16’s must have written consent from, or be accompanied by, a parent/guardian)</li>
      				<li>£20 for family entry</li>
            </ul>
          </p>
      </div>
    </div>

  </div>

{% endblock %}}
<!-- Main Body Content Ends -->
