@charset "UTF-8";

body, html{
	min-height: 100%;
	margin: 0;
}

#wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container-fluid {
  flex: 1;
}

.content{
	padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

/* Navigation */

.navbar{
	min-height: 60px !important;
	margin-bottom: 0;
}

.navbar-inverse{
  background-color: #F7CA18 !important;
  border-color: #F7CA18 !important;
}

.navbar-inverse .navbar-brand, .navbar-nav>li>a{
  color: #000000 !important;
}

.navbar-inverse .navbar-brand:hover, .navbar-nav>li>a:hover{
  color: #FFFFFF !important;
}

.nav-tabs>li>a{
  color: #1C5252 !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle{
  background-color: #F7CA18 !important;
}

.glyphicon{
	color: #000000 !important;
}

.navbar-inverse .navbar-toggle {
  border-color: #000000 !important;
}

.navbar-brand{
	padding: 2% 0 !important;
}

.navbar-brand img{
	width: 150px;
}

@media screen and (max-width: 767px) {

  h1.banner{
  	padding-top: 30% !important;
  }

}

.nav-tabs {
	border-bottom: 0 !important;
}

/* ----------- */

/* Main content on pages */

.container-fluid{
	margin: 2% 0 0 !important;
  padding: 0 !important;

	font-size: 14px;
}

.row{
  margin: 0 5% !important;
}

.lead a, .lead a:hover{
	text-decoration: none;
	color: #000000;
	font-weight: 400;
}

/* ----------- */

/* Page Banners */

.img_cont{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}

.img_cont2{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.bg_img{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/wheel.png);
}

.bg_img1{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/cyclist_bw.png);
}

.bg_img2{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/evening_cyclist.png);
}

.bg_img3{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/404.png);
}

.bg_img4{
	background-image: url(../imgs/bike.png);
}

.bg_img5{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/bike-ride.png);
}

h1.banner, h2.banner, p.lead{
	text-align: center;
	color: #FFFFFF;
}

h1.banner{
	margin-top: 0%;
  padding-top: 8%;
}

p.banner{
  text-align: center;
	color: #FFFFFF;
  font-size: 20px;
}

p.button{
  text-align: center;
  padding: 2% 0 0;
}

.btn.btn-lg.btn-primary{
  width: auto;
}

.btn.btn-lg.btn-primary:hover{
  color: #000000 !important;
  background-color: #FFFFFF !important;
  border-color: #FFFFFF!important;
}

/* ----------- */

/* Home Page */
.col-lg-3{
	text-align: center;
	margin-bottom: 5%;
}

.rounded-circle{
  border-radius: 50%;
  margin: 0 23%;
}

/* ----------- */

/* About Page */

p.lead{
  color: #000000;
  text-align: left;
}

.featurette-image.img-fluid.mx-auto{
	width: 500px;
	height: auto;
}

/* ----------- */

/* Login/Signup */

input[type="username"], input[type="name"], input[type="email"], input[type="password"], input[type="confirm"]{
	margin: 0 15%;
	height: 45px;
	width: 70% !important;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.btn-primary{
	background-color: #F7CA18 !important;
	border-color: #F7CA18!important;
	color: #000000 !important;
	width: 20%;
	margin: 0 40%;
}

.btn-primary:hover{
	color: #F7CA18 !important;
	background-color: #000000 !important;
	border-color: #000000!important;
}

.errors{
	margin: 0 5%;
	width: 90%;
	text-align: center;
}

/* ----------- */

/* Footer */

footer{
  background-color: #F6C318;
  width: 100%;
  height: 60px;
}

.container{
  text-align: center;
  line-height: 10px;
  margin-top: 1%;
  width: 90% !important;
}
/* ----------- */
